dan.pdf
dan.aux
dan.bbl
dan.blg
dan.log
ban.pdf
introduction.pdf
dan.synctex.gz
bare_jrnl.synctex.gz
Authors/HaidongWang-eps-converted-to.pdf


imgs/detection.pdf
figs/*.pdf
figs/*.png

reference.bib.bak
reference.bib.sav
